<!DOCTYPE html>
<html>
  <head>
    
    <title>Maul Project</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Implementación de Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css.scss">
    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>     
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

<body>
    
  <section id="edit_user">
    <h2>|</h2>
    <h2 class="page-header" align="center">Actualizar mi Perfil</h2>
    <div class="row" align="center">
  
  <!-- Formulario de Edición -->    
    <div class="form">
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      
      <div class="field">        
        <%= f.text_field :first_name, placeholder:'nombres' %>
      </div>

      <div class="field">        
        <%= f.text_field :last_name, placeholder:'apellidos' %>
      </div>

      <div class="field">        
        <%= f.email_field :email, placeholder:'email', autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <h5>Cambiar contraseña</h5>

      <div class="field">
        <i>completa estos campos para renovar tu contraseña </i><br />
        <%= f.password_field :password, placeholder:'contraseña nueva' %>
        <% if @minimum_password_length %> <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
      </div>

      <div class="field">    
        <%= f.password_field :password_confirmation, placeholder:'confirmar contraseña', autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.file_field :avatar %>
          <% if @user.avatar? %>
            <%= image_tag @user.avatar.url(:thumb) %>
          <% end %>
      </div>
      
      <div class="field">
        <i>Ingrese su contraseña actual para confirmar cambios</i><br />
        <%= f.password_field :current_password, placeholder:'contraseña actual', autocomplete: "off" %>
      </div>      

      <div class="actions">
        <button>
          <%= f.submit "GUARDAR" %>
        </button>
      </div>
      <% end %>

      <!--<h3>Cancel my account</h3>-->
    <br />
    <p><%= button_to "DAR DE BAJA", registration_path(resource_name), data: { confirm: "¿ESTAS SEGURO?" }, method: :delete %></p>

    <%= link_to "Volver", :back %>
    </div>
    </div>    
  </section>
</body>
</html>