<!DOCTYPE html>
<html lang="es">
<head>
    <title>Maul Project</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Implementación de Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.scss">
    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css.scss">
    <link rel="stylesheet" type="text/css" href="stylesheets/login-style.css">

    <!--
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag 'application', media: 'all' %>     
    <!-- , 'data-turbolinks-track': 'reload'

    <%= javascript_include_tag 'application' %>
    <!-- , 'data-turbolinks-track': 'reload' -->
</head>

  <body>

    <section id="bg-map">
      <div class="container">
      <h2 class="page-header" align="center">Una Ciudad, Una Comunidad</h2>
      <div class="container" align="center">
        <h4 align="center">Selecciona una Comuna</h4>
        <a href="/comunas/"> <%= image_tag 'map_comunas_cali.gif', :width=>500, :heigth=>500%> </a>
      </div>
      </div>
    </section>
    
    <!--  -->
    <%= yield %>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>
    <!--<script src="javascripts/application.js"></script>-->
    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

  </body>
</html>