<!-- Menú Barra superior -->
    <nav class="navbar navbar-inverse-event navbar-static-top navbar-fixed-top" role="navigation">      
      <div class="container">
          <div class="navbar-header">          
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Maul</span>
              <span class="icon-bar" style="color: red"></span>
              <span class="icon-bar" style="color: red"></span>
              <span class="icon-bar"></span>
            </button>
          
            <a class="navbar-brand" href="/home/index.html">
              <%= image_tag "Logo_MAUL_Project_BLANCO_.png", :width=>80, :height=>47 %>
            </a>
          </div>          

          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right menu-header">
              <li>
                <a href="/communities">Comunidades</a>
              </li>
              <li>
                <a href="/sites">Sitios</a>
              </li>
              <li>
                <a href="/events">Eventos</a>
              </li>

              <% if user_signed_in? %>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/users/edit"> <%=current_user.first_name%>
                        <ul class="dropdown-menu" role="menu">
                            
                            <li>
                              <a href="/user/show">Ver Perfil</a>
                            </li>

                            <li>
                              <a href="#"><%= link_to 'Editar Perfil', edit_user_registration_path, :class => 'navbar-link' %></a>
                            </li>
                            
                            <li>
                              <a href="#"><%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></a>
                            </li>
                        </ul>
                    </li>
                <%else%>
                    <li>
                        <a href= "/users/sign_up"> Registrarse </a>
                    </li>                            
                    <li>  
                        <a href= "/users/sign_in"> Iniciar Sesión </a>
                    </li>
              <% end %> 
            </ul>
          </div>        
      </div>
    </nav>    
<!-- FIN BARRA DE MENU PRINCIPAL -->

<section id="show_event">
  <div class="container">
    <!--<h2 align="center">Eventos</h2>-->
      <h2 class="page-header"><%= @event.name %></h2>
      <div class="well">
        <div class="row" align="center">
          <div class="col-md-offset-1 col-sm-offset-1 col-md-10 col-sm-10 col-xs-10">

            <div class="container" align="left">
              <p> <strong>Fecha: </strong><%= @event.fecha %>
              <strong>Hora:</strong> <%= @event.hora.strftime("%I:%M:%p") %>
              <strong>Sitio: </strong> <a href=<%= site_path %>> <%= @event.site.name %>  (<%= @event.site.adress %>) </p></a>
            </div>
            
            <div class="container thumbnail">
              <img class="img-responsive">
                <%= image_tag @event.image.url%>
              </img>
            </div>

            
              <div class="container" align="justify">
                <p> <%= @event.about %> </p>  
              </div>         

            <div class="container">
              <h4>Mapa del sitio</h4>
              <div class="maps-google">
                <iframe src= <%= @event.site.mapgoogle.gsub(/<iframe src="|" width="400" height="300" frameborder="0" style="border:0" allowfullscreen><|iframe>/,"") %> frameborder="0" style="border:0" ></iframe>
              </div>
            </div>

        </div>
      </div>      
    <!--
  <% if user_signed_in? %>

  <% else %>
    <div class="row" align="center">
      <h4 class="page-header">Primero Debes Iniciar Sesión</h4>
      <div class="col-md-6">
        <div class="thumbnail thumbnail-btn">
            <%= link_to "REGISTRARSE", new_user_registration_path, :class => 'navbar-link' %>
        </div>
      </div>

      <div class="col-md-6" >
        <div class="thumbnail thumbnail-btn">
          <a href="/users/sign_in">INICIAR SESIÓN</a>
        </div>
      </div>
    </div>
  <% end %>
  -->
  </div>
  <%= link_to 'Modificar', edit_event_path(@event) %>
</section>
