<link rel="stylesheet" type="text/css" href="stylesheets/comunas.css.scss">

<div class="container">
<h1 class="page-header" align="center">Comunas</h1>
<div class="col-md-12 col-xs-12 col-sm-4">

  <!--Ubicación de las comunas tratando de formar el mapa-->
  <div id="comuna-uno">
    <!--<img class="img-responsive">-->
    <a href="/comunas/1"><%= image_tag 'Mapas_Comunas/comuna_1.png'%></a>
  </div>

  <div id="comuna-dos">
    <!--<img class="img-responsive">-->
    <a href="/comunas/2"><%= image_tag 'Mapas_Comunas/comuna_2.png'%></a>
  </div>

  <div id="comuna-tres">
    <!--<img class="img-responsive">-->
    <a href="/comunas/3"><%= image_tag 'Mapas_Comunas/comuna_3.png'%></a>
  </div>

  <div id="comuna-cuatro">
    <img class="img-responsive">
    <a href="/comunas/4"><%= image_tag 'Mapas_Comunas/comuna_4.png'%></a>
  </div>

  <div id="comuna-cinco">
    <img class="img-responsive">
    <a href="/comunas/5"><%= image_tag 'Mapas_Comunas/comuna_5.png'%></a>
  </div>

  <div id="comuna-seis">
    <img class="img-responsive">
    <a href="/comunas/6"><%= image_tag 'Mapas_Comunas/comuna_6.png'%></a>
  </div>

  <div id="comuna-siete">
    <img class="img-responsive">
    <a href="/comunas/7"><%= image_tag 'Mapas_Comunas/comuna_7.png'%></a>
  </div>

  <div id="comuna-ocho">
    <img class="img-responsive">
    <a href="/comunas/8"><%= image_tag 'Mapas_Comunas/comuna_8.png'%></a>
  </div>

  <div id="comuna-nueve">
    <img class="img-responsive">
    <a href="/comunas/9"><%= image_tag 'Mapas_Comunas/comuna_9.png'%></a>
  </div>

  <div id="comuna-diez">
    <img class="img-responsive">
    <a href="/comunas/10"><%= image_tag 'Mapas_Comunas/comuna_10.png'%></a>
  </div>

  <div id="comuna-once">
    <img class="img-responsive">
    <a href="/comunas/11"><%= image_tag 'Mapas_Comunas/comuna_11.png'%></a>
  </div>

  <div id="comuna-doce">
    <img class="img-responsive">
    <a href="/comunas/12"><%= image_tag 'Mapas_Comunas/comuna_12.png'%></a>
  </div>

  <div id="comuna-trece">
    <img class="img-responsive">
    <a href="/comunas/13"><%= image_tag 'Mapas_Comunas/comuna_13.png'%></a>
  </div>

  <div id="comuna-catorce">
    <img class="img-responsive">
    <a href="/comunas/14"><%= image_tag 'Mapas_Comunas/comuna_14.png'%></a>
  </div>

  <div id="comuna-quince">
    <img class="img-responsive">
    <a href="/comunas/15"><%= image_tag 'Mapas_Comunas/comuna_15.png'%></a>
  </div>

  <div id="comuna-dieciseis">
    <img class="img-responsive">
    <a href="/comunas/16"><%= image_tag 'Mapas_Comunas/comuna_16.png'%></a>
  </div>

  <div id="comuna-diecisiete">
    <img class="img-responsive">
    <a href="/comunas/17"><%= image_tag 'Mapas_Comunas/comuna_17.png'%></a>
  </div>

  <div id="comuna-dieciocho">
    <img class="img-responsive">
    <a href="/comunas/18"><%= image_tag 'Mapas_Comunas/comuna_18.png'%></a>
  </div>

  <div id="comuna-diecinueve">
    <img class="img-responsive">
    <a href="/comunas/19"><%= image_tag 'Mapas_Comunas/comuna_19.png'%></a>
  </div>

  <div id="comuna-veintiuno">
    <img class="img-responsive">
    <a href="/comunas/21"><%= image_tag 'Mapas_Comunas/comuna_21.png'%></a>
  </div>
</div>

<!--

          <td>
            
          </td>

          <td>
            <div class="thumbnail">
              <img class="img-responsive">
              <a href="/comunas/20"><%= image_tag 'Mapas_Comunas/comuna_20.png', :width=>100, :heigth=>100%></a>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            
          </td>
          <td>
            <div class="thumbnail">
              <img class="img-responsive">
              <a href="/comunas/22"><%= image_tag 'Mapas_Comunas/comuna_22.png', :width=>100, :heigth=>100%></a>
            </div>
          </td>            
        </tr>        
  </tbody>
</table>
-->
</div>
<%= link_to 'New Comuna', new_comuna_path %>
