<!-- ======================================== -->
<!-- Maul Project - Una Ciudad, Una Comunidad -->
<!-- Author: Johnny Zapata Serna -->
<!-- File: Comuna show. -->
<!-- ======================================== -->

<section id="show_comuna">
	<!-- Breadcrumb navigation -->
	<div class="container">
		<ul class="breadcrumb page-header">
			<li><a href="/"><i class="fa fa-home"></i></a></li>
			<li><a href="/">Santiago de Cali</a></li>
			<li><a href="javascript:document.location.reload();"><%= @comuna.name %></a></li>
		</ul>
	</div>
	<div class="container">
		<a href="javascript:document.location.reload();">
			<h2 align="center"><%= @comuna.name %></h2>
		</a>
		<div class="well">			
			<div class="container">
				<div class="col-lg-2">
					<div class="community-tab">
						<a href="#comunidades" data-toggle="tab"><h5>Comunidades</h5></a>
					</div>
					<div class="site-tab">
						<span><a href="#sitios" data-toggle="tab"><h5>Sitios</h5></a></span>
					</div>
					<div class="event-tab">
						<span><a href="#eventos" data-toggle="tab"><h5>Eventos</h5></a></span>
					</div>
				</div>

				<div class="col-lg-10" align="center" >
					<div class="row">
						<!-- Tab Content para mostrar un objeto {comunidad, sitio, evento} de cada comuna -->

						<div id="TabContent" class="tab-content">
							
							<!-- Map comunas de Cali -->
							<div id="img_comuna" class="tab-pane fade active in maps-google">
								<div class="thumbnail">
								<iframe src= <%= @comuna.enlace.gsub(/<iframe src="|" width="600" height="450" frameborder="0" style="border:0" allowfullscreen><|iframe>/,"") %> frameborder="0" style="border:0" allowfullscreen>
								</iframe>
								</div>
							</div>

							<!-- Communities by comuna -->
							<div id="comunidades" class="tab-pane fade">
								
								<!-- Tab Topics -->
								<div class="thumbnail">
								<div id="subTab" class="btn-group" data-toogle="buttons-radio">
									<a href="#deportes" class="btn active" data-toggle="tab"><span class="topics-community">Deportes</span></a>
									<a href="#cultura" class="btn" data-toggle="tab"><span class="topics-community">Cultura</span></a>
									<a href="#educacion" class="btn" data-toggle="tab"><span class="topics-community">Educación</span></a>
									<a href="#tecnologia" class="btn" data-toggle="tab"><span class="topics-community">Tecnología</span></a>
									<a href="#musica" class="btn" data-toggle="tab"><span class="topics-community">Música</span></a>
									<a href="#comercio" class="btn" data-toggle="tab"><span class="topics-community">Comercio</span></a>
								</div>
								</div>
									
								<!-- Content Tab Topics - Show select topic -->
								<div class="tab-content">
									<div class="tab-pane" id="deportes">
										<p align="left">Comunidades que hacen deporte</p>
										<% @comuna.community.each do |com| %>
											<div class="col-lg-2">
												<div class="thumbnail">
													<h4><%= link_to com.name, com %></h4>
												</div>
											</div>
										<% end -%>
									</div>
									<div id="educacion" class="tab-pane">
										<p align="left">Comunidades Educativas</p>
										<% @comuna.community.each do |com| %>
											<div class="col-lg-2">
												<div class="thumbnail">
													<h4><%= link_to com.name, com %></h4>
												</div>
											</div>
										<% end -%>
									</div>
								</div>
							</div>
								

							<!-- Sites by comuna -->
							<div id="sitios" class="tab-pane fade">

								<!-- Tab Topics -->
								<div class="thumbnail">
								<div id="subTab" class="btn-group" data-toogle="buttons-radio">
									<a href="#escenariosDpts" class="btn active" data-toggle="tab"><span class="topics-site">Escenarios Deportivos</span></a>
									<a href="#bibliotecas" class="btn" data-toggle="tab"><span class="topics-site">Bibliotecas</span></a>
									<a href="#colegios" class="btn" data-toggle="tab"><span class="topics-site">Colegios</span></a>
									<a href="#universidades" class="btn" data-toggle="tab"><span class="topics-site">Universidades</span></a>
									<a href="#fundaciones" class="btn" data-toggle="tab"><span class="topics-site">Fundaciones</span></a>
									<a href="#tiendas" class="btn" data-toggle="tab"><span class="topics-site">Tiendas</span></a>
									<a href="#farmacias" class="btn" data-toggle="tab"><span class="topics-site">Farmacias</span></a>
									<a href="#iglesias" class="btn" data-toggle="tab"><span class="topics-site">Iglesias</span></a>
									<a href="#parques" class="btn" data-toggle="tab"><span class="topics-site">Parques</span></a>
									<a href="#empresas" class="btn" data-toggle="tab"><span class="topics-site">Empresas</span></a>
								</div>
								</div>
								<!-- Content Tab Topics - Show select topic -->
								<div class="tab-content">
									<div class="tab-pane" id="escenariosDpts">
										<p align="left">Sitios Deportivos</p>
										<% @comuna.sites.each do |com| %>
											<div class="col-lg-2">
												<div class="thumbnail">
													<h4><%= link_to com.name, com %></h4>
												</div>
											</div>
										<% end -%>
									</div>
									<div id="colegios" class="tab-pane">
										<p align="left">Escuelas y Colegios</p>
										<% @comuna.sites.each do |com| %>
											<div class="col-lg-2">
												<div class="thumbnail">
													<h4><%= link_to com.name, com %></h4>
												</div>
											</div>
										<% end -%>
									</div>
								</div>
								
								<!-- Test add map by comuna -->
								<div class="row col-lg-11">
								<!-- Map comunas de Cali -->
								<br>
								<div id="img_comuna" class="maps-google">
									<iframe src= <%= @comuna.enlace.gsub(/<iframe src="|" width="600" height="450" frameborder="0" style="border:0" allowfullscreen><|iframe>/,"") %> frameborder="0" style="border:0" allowfullscreen>
									</iframe>
								</div>
								</div>

							</div>

							<!-- Events by comuna -->
							<div id="eventos" class="tab-pane fade">
								<!-- Tab Topics -->
								<div class="thumbnail">
								<div id="subTab" class="btn-group" data-toogle="buttons-radio">
									<a href="#e-deportes" class="btn active" data-toggle="tab"><span class="topics-event">Deportes</span></a>
									<a href="#cultura" class="btn" data-toggle="tab"><span class="topics-event">Cultura</span></a>
									<a href="#e-educacion" class="btn" data-toggle="tab"><span class="topics-event">Educación</span></a>
									<a href="#tecnologia" class="btn" data-toggle="tab"><span class="topics-event">Tecnología</span></a>
									<a href="#musica" class="btn" data-toggle="tab"><span class="topics-event">Música</span></a>
									<a href="#comercio" class="btn" data-toggle="tab"><span class="topics-event">Comercio</span></a>
								</div>
								</div>

								<!-- Content Tab Topics - Show select topic -->
								<div class="tab-content">
									<div class="tab-pane" id="e-deportes">
										<p align="left">Eventos Deportivos</p>
										<% @comuna.community.each do |com| %>
											<div class="col-lg-2">
												<div class="thumbnail">
													<h4><%= link_to com.name, com %></h4>
												</div>
											</div>
										<% end -%>
									</div>
									<div id="e-educacion" class="tab-pane">
										<p align="left">Eventos de Educación</p>
										<% @comuna.community.each do |com| %>
											<div class="col-lg-2">
												<div class="thumbnail">
													<h4><%= link_to com.name, com %></h4>
												</div>
											</div>
										<% end -%>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

		
			<!-- Descripción de cada comuna -->
			<div class="col-lg-12">
				<h3 class="page-header">Sobre la Comuna</h3>
				<p> <%= @comuna.about %> </p>
			</div>
						
		</div>
		<%= link_to 'Edit', edit_comuna_path(@comuna) %> |
		<%= link_to 'Back', comunas_path %>
	</div>
</section>
<p id="notice"><%= notice %></p>
