<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @comuna.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @comuna.about %>
</p>

<p>
  <strong>Enlace:</strong>
  <%= @comuna.enlace %>
</p>

<%= link_to 'Edit', edit_comuna_path(@comuna) %> |
<%= link_to 'Back', comunas_path %>
