<!-- ======================================== -->
<!-- Maul Project - Una Ciudad, Una Comunidad -->
<!-- Author: Johnny Zapata Serna -->
<!-- File: Comuna show. -->
<!-- ======================================== -->

<section id="show_comuna">
	<!-- Breadcrumb navigation -->
	<div class="container">
		<ul class="breadcrumb page-header">
			<li><a href="/"><i class="fa fa-home"></i></a></li>
			<li><a href="/">Santiago de Cali</a></li>
			<li><a href="javascript:document.location.reload();"><%= @comuna.name %></a></li>
		</ul>
	</div>
	<div class="container">
		<a href="javascript:document.location.reload();">
			<h2 align="center"><%= @comuna.name %></h2>
		</a>
		<div class="well">			
			<div class="container">
				<div class="col-lg-2">
					<a href="#comunidades" data-toggle="tab"><h4>Comunidades</h4></a>
					<a href="#sitios" data-toggle="tab"><h4>Sitios</h4></a>
					<a href="#eventos" data-toggle="tab"><h4>Eventos</h4></a>
				</div>

				<div class="col-lg-10" align="center" >
					<div class="thumbnail">
						<!-- Tab Content para mostrar un objeto {comunidad, sitio, evento} de cada comuna -->
						<div id="TabContent" class="tab-content">
							<div id="img_comuna" class="tab-pane fade active in maps-google">
								<iframe src= <%= @comuna.enlace.gsub(/<iframe src="|" width="600" height="450" frameborder="0" style="border:0" allowfullscreen><|iframe>/,"") %> frameborder="0" style="border:0" allowfullscreen>
								</iframe>
							</div>

							<div id="comunidades" class="tab-pane fade">
								
								<% @comuna.community.each do |com| %>
									<div class="col-lg-2">
										<div class="thumbnail">
											<h4><%= link_to com.name, com %></h4>
										</div>
									</div>
								<% end %>

							</div>

							<div id="sitios" class="tab-pane fade">
								<h4>Categoría del Sitio</h4>
								<% @comuna.sites.each do |com| %>
								<div class="col-lg-2">
									<div class="thumbnail">
										<h4><%= link_to com.name, com %></h4>
									</div>
								</div>
								<% end %>
							</div>

							<div id="eventos" class="tab-pane fade">
								<p>no tengo nada</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Sección TAB del objeto seleccionada -->
		

			<!-- Descripción de cada comuna -->
			<div class="col-lg-12">
				<h3 class="page-header">Sobre la Comuna</h3>
				<p> <%= @comuna.about %> </p>
			</div>
						
		</div>
		<%= link_to 'Edit', edit_comuna_path(@comuna) %> |
		<%= link_to 'Back', comunas_path %>
	</div>
</section>
<p id="notice"><%= notice %></p>
