<div class="form">
<%= form_for(community) do |f| %>
  <% if community.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(community.errors.count, "error") %> prohibited this community from being saved:</h2>
      <ul>
      <% community.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field" align="left">
      <%= f.label :Seleccina_Una_Comuna %>
      <%= f.select(:comuna_id, Comuna.all.collect {|a| [a.name, a.id]},{prompt: 'seleccione una comuna'},{} )%>
      <!--<%= f.text_field :site_id %>-->
    </div>

    <div class="field" align="left">
      <%= f.label :Nombre %>
      <%= f.text_field :name, placeholder: 'Nombre de tu comunidad' %>
    </div>

    <div class="field" align="left">
       <%= f.label :Descripción %>
      <%= f.text_area :about, placeholder: 'Describe tu comunidad' %>
    </div>

    <div class="field" align="left">
      <%= f.label :Teléfono %>
      <%= f.text_field :contacto, placeholder: 'Número de contacto' %>
    </div>

    <div class="field" align="left">
      <%= f.label :Correo %>
      <%= f.text_field :email, placeholder: 'Email' %>
    </div>

    <p align="left">Añade los enlaces a tus redes sociales</p>

    <div class="field" align="left">
      <%= f.label :Facebook %>
      <%= f.text_field :facebook, placeholder: 'Perfil Facebook' %>
    </div>

    <div class="field" align="left">
      <%= f.label :Twitter %>
      <%= f.text_field :twitter, placeholder: 'Perfil Twitter' %>
    </div>

    <p align="left">Selecciona un campo de acción</p>
    <div class="field" align="left">
      <%= f.label :Área %>
      <%= f.select(:topic_id, Topic.all.collect {|a| [a.name, a.id]},{prompt: 'Seleccionar'},{} )%>
    </div>

    <p align="left">¿El lugar donde se reune tu comunidad ya esta registrado en Maul?</p>

    <div class="field" align="left">
      <%= f.label :Sitio %>
      <%= f.select(:site_id, Site.all.collect {|a| [a.name, a.id]},{prompt: 'seleccione un sitio'},{} )%>
      <!--<%= f.text_field :site_id %>-->
    </div>

    <p align="left">Agrega una imagen que identifique tu comunidad</p>

    <div class="field">
      <%= f.file_field :avatar %>
      <% if @community.avatar%>
        <%= image_tag @community.avatar.url(:thumb)%>
      <% end %>
     </div>    

    <div class="actions">
      <button>
      <%= f.submit %>
      </button>
    </div>

    <%= link_to 'Volver', communities_path %>  
<% end %>
</div>
