<!-- ======================================== -->
<!-- Maul Project - Una Ciudad, Una Comunidad -->
<!-- Autor: Johnny Zapata Serna -->
<!-- Archvio: Tabla de presentación de las comunidades -->
<!-- ======================================== -->

<div class="container" align="center">
  <h2 class="page-header" align="center">Comunidades</h2>
  <%= link_to 'Registrar Una Comunidad', new_community_path %>

    <!-- === Tab communities by comuna === -->
      <div class="container">
        <div class="thumbnail">
        <div id="subTab" class="btn-group" data-toogle="buttons-radio">
          <% Comuna.all.collect do |com| %>
            <a href="#comuna<%= com.id %>" class="btn active" data-toggle="tab">
              <span class="topics-community"><%= com.name %></span>
            </a>
          <% end -%>
        </div>
        </div>

        <div class="container">
          <div id="TabContent" class="tab-content">
            <% Comuna.all.collect do |com| %>
              <div class="tab-pane fade" id="comuna<%= com.id %>">
                <% Community.all.collect do |c| %>
                  <% if com.id === c.comuna_id %>
                    <div class="thumbnail col-lg-3 col-md-3">
                      <img class="img-responsive">
                      <%= link_to image_tag(c.avatar.url, :width=>200, :heigth=>200), c %>
                      <div class="caption">
                        <%= link_to c.name, c %>
                      </div>
                    </div>
                  <% end %>
                <% end -%>
              </div>
            <% end -%>
          </div>
        </div>

      </div>

</div>
