<!-- Menú Barra superior -->
    <nav class="navbar navbar-inverse-community navbar-static-top navbar-fixed-top" role="navigation">      
      <div class="container">
          <div class="navbar-header">          
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Maul</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          
            <a class="navbar-brand" href="/">
              <%= image_tag "Logo_MAUL_Project_BLANCO_.png", :width=>80, :height=>47 %>
            </a>
          </div>          

          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right menu-header">
              <li>
                <a href="/communities">Comunidades</a>
              </li>
              <li>
                <a href="/sites">Sitios</a>
              </li>
              <li>
                <a href="/events">Eventos</a>
              </li>

              <% if user_signed_in? %>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/users/edit"> <%=current_user.first_name%>
                        <ul class="dropdown-menu" role="menu">
                            
                            <li>
                              <a href="/user/show">Ver Perfil</a>
                            </li>

                            <li>
                              <a href="#"><%= link_to 'Editar Perfil', edit_user_registration_path, :class => 'navbar-link' %></a>
                            </li>
                            
                            <li>
                              <a href="#"><%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></a>
                            </li>
                        </ul>
                    </li>
                <%else%>
                    <li>
                        <a href= "/users/sign_up"> Registrarse </a>
                    </li>                            
                    <li>  
                        <a href= "/users/sign_in"> Iniciar Sesión </a>
                    </li>
              <% end %> 
            </ul>
          </div>        
      </div>
    </nav>    
<!-- FIN BARRA DE MENU PRINCIPAL -->


<section id="register_community">
	<div class="container">
		<% if user_signed_in? %>
			<nav class="navbar navbar-inverse-sub navbar-stactic-sub">  
				<h2 class="page-header" align="center">Registra Tu Comunidad</h2>
			</nav>
			
			<%= render 'form', community: @community %>
		<% else %>
	      <div class="row" align="center">
	        <h4 class="page-header">Primero Debes Iniciar Sesión</h4>
	        <div class="col-md-6">
	          <div class="thumbnail thumbnail-btn">
	              <%= link_to "REGISTRARSE", new_user_registration_path, :class => 'navbar-link' %>
	          </div>
	        </div>

	        <div class="col-md-6" >
	          <div class="thumbnail thumbnail-btn">
	            <a href="/users/sign_in">INICIAR SESIÓN</a>
	          </div>
	        </div>
	      </div>
	    <% end %>
	</div>
</section> 

