<div class="form">
  <%= form_for(site) do |f| %>
    <% if site.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

        <ul>
        <% site.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field" style="align">      
      <div class="text-left">
        <%= f.label :Nombre_del_Sitio %>
      </div>
      <%= f.text_field :name, placeholder: 'Ej: Parque La Arboleda' %>
    </div>

    <div class="field">
      <div class="text-left">
        <%= f.label :Descripción %>
      </div>
      <%= f.text_area :about, placeholder: 'Cuentale a la gente que pueden venir a hacer' %>
    </div>

    <div class="field">      
      <div class="text-left">
        <%= f.label :Dirección %>
      </div>
      <%= f.text_field :adress, placeholder: 'Dirección' %>
    </div>

    <div class="field">
      <div class="text-left">
        <%= f.label :Teléfono %>
      </div>
      <%= f.text_field :phone, placeholder: 'Teléfono' %>
    </div>

    <p align="left">Agrega un mapa embebido de Google Maps</p>
    <div class="field">
      <div class="text-left">
        <%= f.label :Goole_Map %>
      </div>
      <%= f.text_field :mapgoogle, placeholder: 'mapa embebido de google' %>
    </div>

    <p>Selecciona una categoría y una comuna</p>
    <div class="thumbnail">
      <div class="field">
        <%= f.label :Categoría %>
        <%= f.select(:category_id, Category.all.collect {|a| [a.name, a.id]},{prompt: 'seleccione una Categoría'},{} )%>
      </div>

      <div class="field">
        <%= f.label :Comuna %>
        <%= f.select(:comuna_id, Comuna.all.collect {|a| [a.name, a.id]},{prompt: 'seleccione una comuna'},{} )%>
      </div>
    </div>

    <p>Añade una imagen que identifique el lugar</p>
    <div class="field">
      <div class="text-left">
        <%= f.label :Imagen %>
      </div>
      <%= f.file_field :avatar %>
      <% if @site.avatar%>
        <%= image_tag @site.avatar.url(:thumb)%>
      <% end %>      
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
