<!-- Menú Barra superior -->
    <nav class="navbar navbar-inverse-site navbar-static-top navbar-fixed-top" role="navigation">      
      <div class="container">
          <div class="navbar-header">          
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Maul</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          
            <a class="navbar-brand" href="/home/index.html">
              <%= image_tag "Logo_MAUL_Project_BLANCO_.png", :width=>80, :height=>47 %>
            </a>
          </div>          

          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right menu-header">
              <li>
                <a href="/communities">Comunidades</a>
              </li>
              <li>
                <a href="/sites">Sitios</a>
              </li>
              <li>
                <a href="/events">Eventos</a>
              </li>

              <% if user_signed_in? %>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/users/edit"> <%=current_user.first_name%>
                        <ul class="dropdown-menu" role="menu">
                            
                            <li>
                              <a href="/user/show">Ver Perfil</a>
                            </li>

                            <li>
                              <a href="#"><%= link_to 'Editar Perfil', edit_user_registration_path, :class => 'navbar-link' %></a>
                            </li>
                            
                            <li>
                              <a href="#"><%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></a>
                            </li>
                        </ul>
                    </li>
                <%else%>
                    <li>
                        <a href= "/users/sign_up"> Registrarse </a>
                    </li>                            
                    <li>  
                        <a href= "/users/sign_in"> Iniciar Sesión </a>
                    </li>
              <% end %> 
            </ul>
          </div>        
      </div>
    </nav>    
<!-- FIN BARRA DE MENU PRINCIPAL -->

<div class="container" align="center">    

  <h2 class="page-header" align="center">Sitios</h2>
  
    <%= link_to 'Registrar Un Sitio', new_site_path %>
    <table class="table table-responsive">
      <thead>
        <tr>           

        </tr>
      </thead>

      <tbody>                
          <div class="col-lg-12">
          <% @sites.each do |site| %>            
            <tr>
              <div class="col-md-3">
              <div class="thumbnail">
                <img class="img-responsive">
                <%= link_to image_tag(site.avatar.url, :width=>200, :heigth=>200), site %>
                <div class="caption">
                  <%= link_to site.name, site %>
                </div>
              </div> 
              </div>              
            </tr>
          </div>
          <% end %>
      </tbody>
    </table>  
  <br>  
</div>
</section>
<p id="notice"><%= notice %></p>