<!-- ======================================== -->
<!-- Maul Project - Una Ciudad, Una Comunidad -->
<!-- Autor: Johnny Zapata Serna -->
<!-- File: Sites show -->
<!-- ======================================== -->

<!-- See sites -->
<section id="show_sites">

<!-- Breadcrumb navigation -->
	<div class="container">
		<ul class="breadcrumb page-header">
			<li><a href="/"><i class="fa fa-home"></i></a></li>
			<li><a href="/sites">Sitios</a></li>
			<li><a href="/comunas/<%= @site.comuna.id %>"><%= @site.comuna.name %></a></li>
			
		</ul>
	</div>

	<div class="container">
			<h2><%= @site.name %></h2>
			<div class="well">
				<div class="row">
					<div class="col-lg-12">
						<div class="col-lg-7">
							<p><strong>Sobre el Sitio</strong></p>
							<p><%= @site.about %></p>
							<p><strong>Dirección: </strong><%= @site.adress %></p>
							<p><strong>Teléfono: </strong><%= @site.phone %></p>
						</div>
						<div class="col-lg-5">
							
							<div class="thumbnail">
							<iframe src= <%= @site.mapgoogle.gsub(/<iframe src="|" width="400" height="300" frameborder="0" style="border:0" allowfullscreen><|iframe>/,"") %> width="430" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

								<!--<img class="img-responsive">
								<%= image_tag @site.avatar.url %>-->
							</div>
						</div>
					</div>
				
					<div class="container col-lg-6">
						<h5 class="page-header community-field"><span>Comunidades que aquí se reunen</span></h5>
						<div class="container">
							<% @site.community.each do |com| %>
								<h6 class="topics-community"><span><%= link_to com.name, com %></span></h6>
							<% end %>
						</div>
					</div>
					<div class="container col-lg-6">
						<h5 class="page-header event-field">Eventos que aquí se realizan</h5>
						<% @site.event.each do |com| %>
							<h4><%= link_to com.name, com %></h4>
						<% end %>										
					</div>
				</div>
			</div>
			<%= link_to 'Modiicar', edit_site_path(@site) %> |
			<%= link_to 'Atrás', sites_path %>
	</div>
</section>

<p id="notice"><%= notice %></p>